

text

header { 
  width: 500px;
  height: 90px;
  display: flex;
  align-items: center;
  background-color: #444444;

}



nav {
  width: 960px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  background-color: black;
}

header img {
  height: 70px;
}

header ul {
padding-right: 75px;
}

header ul li {
  display: inline;
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-right: 75px;
  
}

section {
  width: 960px;
  height: 30px;
}

section:nth-child(2) {
  display: flex;
  justify-content: space-between;
}

section:nth-child(3) {
  display: flex;
}

section:nth-child(3) img {
  height: 400px;
}

section:nth-child(3) article {
  height: 400px;
  margin-left: 30px;
  font-family: Arial, Helvetica, sans-serif
}

section:nth-child(3) article p {
  overflow: auto;
  height: 342px;
  font-style: italic;
  line-height: 1.25;
  margin-bottom: 5px;
}

section:nth-child(3) article h2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

section:nth-child(3) article button {
 background-color: black;
 color: white;
 border: 0;
 border-radius: 2px;
 height: 40px;
 padding-right: 25px;
 padding-left: 25px;
 width: 30px;
}

section:nth-child(3) article button:hover{
  transition: 350ms;
  background-color: greenyellow;
}



footer {
  background-color: #444444;
  height: 120px;
}






